<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web Application firewall</title>
      <link rel="stylesheet" href="static/css/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

  </head>
  <body>
    {% extends "index.html" %}
    {% block content %}
    
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Web Application Firewall</h1>
          </div>

    <p> coming soon ...</p>

    {% endblock %}
  </body>
</html>