<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Information Security app</title>

  <!-- Custom fonts for this template-->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

</head>
  <body id="page-top">

    {% extends "index.html" %}
    {% block content %}

     <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Web Application Scanner</h1>
          </div>
  <div class="row">

                  <div class="col-xl-3 col-md-6 mb-4">
                      <p> Scan you website for vulnerabilities</p>
                  </div>

                  <div class="col-xl-12 col-md-12 mb-12">

    <form class="form-horizontal md-form mr-auto mb" action="{{ 'result' }}"  method="POST">
         <div class="input-group">
  <input class="form-control mr-sm-2" type="text" placeholder="Enter URL"  name="url">

        <div class="input-group-append" >
  <button class="btn btn-primary btn-rounded" type="submit" onclick="$('#loading').show();"
 value="Get">Scan</button>

<!---
              <button class="btn btn-primary btn-rounded ">
            <a href="#"><i class="fas fa-download fa-sm text-white-50"></i></a>  Generate Report</button>
            -->

               </div>
                         </div>


</form>
                  </div>

      <div class="row">

          <div id="loading" style="display:none;"><img src="/static/img/loading.gif" alt="" />Please wait while we perform the scan, this may take a while</div>


      </div>



<!--
 //   var socket = io.connect('http://' + document.domain + ':' + location.port);

 //   socket.on( 'connect', function() {
    socket.emit('result' , {
    data: ' Connection made'
    })
    var form = $( 'form').on ('submit', function(e) {
    e.preventDefault()
    let url = $('input.domain').val()

    socket.emit('result', {
    url : url
    })
    $( 'input.url' ).val('').focus()
    })
    })
    socket.on( 'result', function( url ) {
        console.log( url ) {

 </> -->
  </div>

  <div class="row">

        {% block result %}
            {% endblock %}

  </div>

  </body>

 {% endblock %}
</html>
